<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">เปลี่ยนรหัสผ่าน</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <form>
      <div class="form-group">
        <label for="idxOldPassword">รหัสผ่านเดิม</label>
        <input type="text" id="idxOldPassword" class="form-control" aria-describedby="oldPassword" name="oldPassword"
          placeholder="*" [(ngModel)]="oldPassword">
      </div>

      <div class="form-group">
        <label for="idxNewPassword">รหัสผ่านใหม่</label>
        <input type="text" id="idxNewPassword" class="form-control" aria-describedby="newPassword" name="newPassword"
          placeholder="*" [(ngModel)]="newPassword">
      </div>
    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="doChange()">เปลี่ยนรหัสผ่าน</button>
  </div>
</ng-template>
