<main role="main" class="container">

  <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
    <span class="mr-3 mdi-24px mdi mdi-ballot-outline"></span>
    <div class="lh-100">
      <h6 class="mb-0 text-white lh-100">สินค้า</h6>
      <small>รายการสินค้าทั้งหมด</small>
    </div>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <!-- <h6 class="border-bottom border-gray pb-2 mb-0">รายการโต๊ะที่เปิดให้บริการ</h6> -->

    <table class="table table-hover">
      <thead>
        <tr>
          <th>รหัส</th>
          <th>ชื่อสินค้า</th>
          <th>ราคา</th>
          <th>สถานะ</th>
          <th>#</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

</main>
