<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <a class="navbar-brand mr-auto mr-lg-0" href="javascript://">My POS</a>
  <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
    <span class="mr-auto"></span>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="javascript://">{{ firstName }} {{ lastName }}</a>
      </li>
      <li class="nav-item dropdown dropleft">
        <a class="nav-link dropdown-toggle" href="javascript://" id="dropdown01" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false"><span class="mdi mdi-settings"></span></a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="javascript://" (click)="openChangePassword()">เปลี่ยนรหัสผ่าน</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript://" (click)="logout()">ออกจากระบบ</a>
        </div>
      </li>
    </ul>

  </div>
</nav>

<div class="nav-scroller bg-white shadow-sm">
  <nav class="nav nav-underline">
    <!-- <a class="nav-link active" href="javascript://" routerLink="/pos" routerLinkActive="active">หน้าหลัก</a> -->
    <a class="nav-link" href="javascript://" routerLink="/pos/orders" routerLinkActive="active">
      คำสั่งซื้อ
      <span class="badge badge-pill bg-light align-text-bottom">27</span>
    </a>
    <a class="nav-link" href="javascript://" routerLink="/pos/tables" routerLinkActive="active">จัดการโต๊ะ</a>
    <a class="nav-link" href="javascript://" routerLink="/pos/items" routerLinkActive="active">รายการสินค้า</a>
    <a class="nav-link" href="javascript://" routerLink="/pos/users" routerLinkActive="active">ผู้ใช้งาน</a>
  </nav>
</div>

<router-outlet></router-outlet>

<app-modal-change-password #mdlChangePassword (onChanged)="onChangePassword($event)"></app-modal-change-password>
